@charset "utf-8";

/* FONT */

@font-face{    
    font-family: Brandon;
    src: url(../font/icielBrandonText-Bold.ttf);
}
@font-face{
    font-family: Saira-Regular;
    src: url(../font/Saira-Regular.ttf);
}
@font-face{
    font-family: Saira-Bold;
    src: url(../font/Saira-Bold.ttf);
}

/* BACKGROUND */

@keyframes light1{
	0% {opacity: 0;}
	10% {opacity: 1;}
	20% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light2{
	0% {opacity: 0;}
	10% {opacity: 0;}
	20% {opacity: 1;}
	30% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light3{
	0% {opacity: 0;}
	20% {opacity: 0;}
	30% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light4{
	0% {opacity: 0;}
	30% {opacity: 0;}
	40% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light5{
	0% {opacity: 0;}
	40% {opacity: 0;}
	50% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light6{
	0% {opacity: 0;}
	50% {opacity: 0;}
	60% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light7{
	0% {opacity: 0;}
	60% {opacity: 0;}
	70% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light8{
	0% {opacity: 0;}
	70% {opacity: 0;}
	80% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes light9{
	0% {opacity: 0;}
	80% {opacity: 0;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes light10{
	0% {opacity: 1;}
	10% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes spectrum1{
	0% {opacity: 0;}
	10% {opacity: 1;}
	20% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum2{
	0% {opacity: 0;}
	10% {opacity: 0;}
	20% {opacity: 1;}
	30% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum3{
	0% {opacity: 0;}
	20% {opacity: 0;}
	30% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum4{
	0% {opacity: 0;}
	30% {opacity: 0;}
	40% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum5{
	0% {opacity: 0;}
	40% {opacity: 0;}
	50% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum6{
	0% {opacity: 0;}
	50% {opacity: 0;}
	60% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum7{
	0% {opacity: 0;}
	60% {opacity: 0;}
	70% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum8{
	0% {opacity: 0;}
	70% {opacity: 0;}
	80% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes spectrum9{
	0% {opacity: 0;}
	80% {opacity: 0;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes spectrum10{
	0% {opacity: 1;}
	10% {opacity: 0;}
	90% {opacity: 0;}
	100% {opacity: 1;}
}
body {background-color: 
	black;
	color: white;
    font-family: Saira-Regular;
}
.container-fluid{padding: 0px;}

#bg-animation, #bg-hover{
	width: 100%;
	position: fixed;
	bottom: 0;
}
#bg-hover{padding: 0.505%;}
#bg-animation img{
	width: 100%;
	position: absolute;
	bottom: 0;    
}
#light1, #light2, #light3, #light4, #light5, #light6, #light7, #light8, #light9, #light10{
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#light1{animation-name: light1;}
#light2{animation-name: light2;}
#light3{animation-name: light3;}
#light4{animation-name: light4;}
#light5{animation-name: light5;}
#light6{animation-name: light6;}
#light7{animation-name: light7;}
#light8{animation-name: light8;}
#light9{animation-name: light9;}
#light10{animation-name: light10;}
#spectrum1, #spectrum2, #spectrum3, #spectrum4, #spectrum5, #spectrum6, #spectrum7, #spectrum8, #spectrum9, #spectrum10{
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#spectrum1{animation-name: spectrum1;}
#spectrum2{animation-name: spectrum2;}
#spectrum3{animation-name: spectrum3;}
#spectrum4{animation-name: spectrum4;}
#spectrum5{animation-name: spectrum5;}
#spectrum6{animation-name: spectrum6;}
#spectrum7{animation-name: spectrum7;}
#spectrum8{animation-name: spectrum8;}
#spectrum9{animation-name: spectrum9;}
#spectrum10{animation-name: spectrum10;}

/* PANEL */

#nav{
	position: fixed;
}
#homebt-border{
    position: absolute;
    bottom: -20px;
    left: 115px; 
    opacity: 0.5;
    animation-name: homebt-border;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 0.5s;
}
#home-button:hover #homebt-border{
    opacity: 1;
}
#home-button{
	position: absolute;
	height: 60px;
	width: 60px;
	bottom: 0;
	border-radius: 50%;
	background-color:white;
	margin-left: 135px;
	z-index: 10;
    box-shadow: 0px 0px 5px 0px #333333;
    
}
#home-button img{
	margin-left: 15px;
	margin-top: 16.1px;
    transition: all 0.2s;
}
#nav{
	position: fixed;
	bottom: 10px;
	width: auto;
	left: 50%;
	margin-left: -165px;
	z-index: 10;
}
#panel{
	position: absolute;
	bottom: 10px;
}
#panel-bg{
	opacity: 0.95;
	bottom: 0px;
}
#panel-music, #panel-design, #panel-blog, #panel-contact{
	position: absolute;
	opacity: 0.5;
	height: 10px;
	bottom: 15px;
    transition: all 0.2s;
}
#panel-design{
	left: 17.753px;
}
#panel-music{
	left: 79.322px;
}
#panel-blog{
	left: 205px;
}
#panel-contact{
	left: 249.502px;
}

#panel-music:hover:not(.active),
#panel-design:hover:not(.active),
#panel-blog:hover:not(.active),
#panel-contact:hover:not(.active){
	opacity: 0.75;
}
#panel-music.active, #panel-design.active, #panel-blog.active, #panel-contact.active{
	opacity: 1;
}

/* SOCIAL */

#social{
	top: 0;
	left: 10px;
	position: fixed;
	height: 100vh;
    z-index: 10;
}
#social-show{
    position: absolute;
    top: 10px;
    opacity: 0.5;
}
#social-hide{
	position: absolute;
    top: 10px;
    box-shadow: 0px 0px 5px 0px #333333;
}
#social-item-mb{
    position: absolute;
	top: 70px;
	transform: translateX(-50px);
	transition: all 0.2s;
    box-shadow: 0px 0px 5px 0px #333333;
}
#social-item a{
    position: absolute;
    opacity: 0.5;
    transition: 0.2s;
}
#social-item-mb a{
    position: absolute;
}
#social-item{
	position: absolute;
	top: 50%;
	margin-top: -170px;
}
#social-item a:hover{
	opacity: 1;
    box-shadow: 0px 0px 5px 0px #333333;
}
.soundcloud{top: 60px;}
.deviantart{top: 120px;}
.facebook{top: 180px;}
.googleplus{top: 240px;}
.twitter{top: 300px;}

/* CONTAINER */

.kontainer {
    padding: 0px 40px;
    max-width: 100%;
}
@media (min-width: 768px) {
    .kontainer {
        padding: 0px 80px;
    } 
}
@media (min-width: 1200px) {
    .kontainer {
        max-width: 1200px;
        margin: 0px auto;
    } 
}

/* BACKGROUND MUSIC */

@keyframes vs1{
    0% {height: 4px;}
    100% {height: 22px;}
}
@keyframes vs2{
    0% {height: 4px;}
    100% {height: 22px;}
}
@keyframes vs3{
    0% {height: 4px;}
    100% {height: 22px;}
}
@keyframes vs4{
    0% {height: 4px;}
    100% {height: 22px;}
}

#volume, #muted{
    height: 40px;
    width: 40px;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 0%;
    opacity: 0.5;
    transition: all 0.5s ease-out;
	padding: 9px 8px;
	margin: 0;
	z-index: 10;
    border: none;
    cursor: pointer;
}
#volume:hover, #muted:hover{
	opacity: 1;
	transform: rotateZ(-180deg);
    box-shadow: 0px 0px 5px 0px #333333;
}
.volume-spectrum{
    background-color: black;
    height: 4px;
    width: 4px;
    margin: 0px 1px;
	
    animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    animation-direction: alternate;
}
#vs1{animation-name: vs1;}
#vs2{animation-name: vs2; animation-delay: 0.2s;}
#vs3{animation-name: vs3; animation-delay: 0.4s;}
#vs4{animation-name: vs4; animation-delay: 0.6s;}

#mute{
	width: 100%;
	height: 100%;
}
.mute-spectrum{
	background-color: black;
    height: 4px;
    width: 4px;
    margin: 0px 1px;
}

/* SEARCH */

#search-mg{
    position: fixed;
    width: 100%;
    padding: 10px 10px 0px 60px;
    z-index: 10;
}
#search{
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 40px 10px 0px;
    transition: all 0.3s ease-out;
    right: 0;
    opacity: 0.5;
    float: right;
    background-image: url(../img/elements/search.svg);  
    background-repeat: no-repeat;
    background-position: right;
    animation-name: search;
}
#search:hover{opacity: 1;}
#search:focus{
    padding: 10px 45px 10px 15px;
    border: none;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    box-shadow: 0px 0px 5px 0px #333333;
}

/* COMMON ELEMENTS ANIMATION */

@keyframes nav{
	0% {margin-bottom: -90px;}
	100% {margin-bottom: 0;}
}
@keyframes social{
	0% {margin-left: -60px;}
	100% {margin-left: 0;}
}
@keyframes volume{
	0% {margin-right: -60px;}
	100% {margin-right: 0;}
}
@keyframes search{
    0% {margin-right: -60px;}
	100% {margin-right: 0;}
}
@keyframes home-button{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes homebt-border{
    0%{transform: rotate(0) scale(1);
    opacity: 0.1;}
    25%{transform: rotate(-90deg) scale(0.9);
    opacity: 0.4;}
    50%{transform: rotate(-180deg) scale(1);
    opacity: 0.2}
    75%{transform: rotate(-270deg) scale(0.9); opacity: 0.3}
    100%{transform: rotate(-360deg) scale(1);
    opacity: 0.1;}
}

#nav, #social, #volume, #search{
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
	animation-delay: 2s;
	animation-fill-mode: both;
}
#nav{animation-name: nav;}
#social{animation-name: social;}

/* FOOTER */

footer{
	margin-top: 80px;
	margin-bottom: 110px;
	text-align: center;
    margin-bottom: 110px;
}

.black-button-hover{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: all 0.2s;
    top: 0;
}
.button-hover{
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	top: 0px;
	transform: translateY(100%);
    transition: all 0.2s ease-out;
}

@media (min-width: 576px) {
    #search:focus{
        width: 50%;
    }
}

@media (min-width: 768px) { 

	#social{
		left: 20px;
	}
	#volume, #muted{
		top: 20px;
		right: 20px;
	}
    #search-mg{
        padding: 20px;
    }
    #search:focus{
        width: 300px;
    }
}

@media (min-width: 992px) {

    
    
}

@media (min-width: 1200px) { 
	
	footer{
        margin-bottom: 15px;
        text-align: left;
        padding-left: 20px;
    }
    
} 