@charset "utf-8";

@keyframes ka{
	0% {margin-top: -100vh}
	100% {margin-top: 0;}
}

body{
    position: relative;
}
.list-group{
    position: fixed;
	z-index: 10;
    right: 10px;
    top: 50%;
    margin-top: -85px;
}
.list-group-item{
    height: 10px;
    width: 10px;
	border: none;
    background-color: white;
    opacity: 0.25;
	padding: 0;
    margin: 10px 0px;
    transition: all 0.4s;
}
.list-group-item:first-child, .list-group-item:last-child{
	border-radius: 0;
}
.list-group-item:hover{opacity: 0.5;}
.list-group-item.active {
	background-color: white;
	transform: scale(1.25);
	opacity: 1;
}


#scrollspy li a:hover{
}
#scrollspy li a.active{
    opacity: 1;
	transform-origin: center;
	transform: scale(1.25);
}

.content-margin{
	height: 100vh;
	padding: 0px 10px 70px 10px;
}
.content-box{
	height: 100%;
	width: 100%;
    display: flex;
}
#welcome img{
	height: 50%;
	top: 25%;	
	transition: 1s;
	animation-name: ka;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 1s;
	animation-fill-mode: both;
}
#welcome img:hover{
	transform: scale(1.05);
}
#about{
	height: 100vh;
	background-image: url(../img/background/about-background.jpg);
	background-size: cover;
	background-position: right;
}
.category-mb{
	padding-bottom: 40px; 
}
.category-tittle{
	height: 25px;
}
.category-icon{
	height: 92.667px;
}
.icon-stacked-l{
	padding-left: 0px;
	padding-right: 20px;
}
.icon-stacked-r{
	padding-left: 20px;
	padding-right: 00px;
}
.icon-stacked-l img, .icon-stacked-r img{
	width: 100%;
}
.text-l, .text-r{
	text-align: justify;
	padding: 0px;
}
footer{
    margin-top: -130px;
    margin-bottom: 0;
}

/* CONTENT ANIMATION */

#about-content{
	display: block;
	padding: 20px;
	text-align: justify;
	background-color: rgba(0,0,0,0.5);
	margin: 0px;
	font-size: 12pt;
	color: white;
}
.category a{
	display: block;
	height: 40px;
	background-color: white;
	margin-top: 20px;
	padding-top: 8px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
.text-l a p, .text-r a p{
	color: black;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 0;
}
.button-hover{
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	top: 0px;
	transform: translateY(100%);
	transition: all 0.2s;
}
.category a:hover .button-hover{
	transform: translateY(0%);
}
.space{
	width: 20px;
}
.category{
    position: relative;
}

@media (min-width: 768px) {

    #scrollspy{
        right: 20px;
    }
	.category{
		height: 100%;
	}
	.text-r{
		margin: 0px;
		padding-left: 20px;
		padding-right: 0px;
	}
	.text-l{
		margin: 0px;
		padding-left: 0px;
		padding-right: 20px;
	}
    .button-group-1, .button-group-r{
        margin-top: 20px;
    }
    .category a{
        background-color: rgba(255,255,255,0.75);
    }
    
}

@media (min-width: 992px) {
	
	.text-r, .text-l, #about-content{
		font-size: 14pt;
	}
	.category a{
		padding-top: 6px
	}
	
}

@media (min-width: 1200px) {
	
	.icon-stacked-l{
		padding-right: 40px;
	}
	.icon-stacked-r{
		padding-left: 40px;
	}
	.text-l{
		padding-right: 40px;
	}
	.text-r{
		padding-left: 40px;
	}
    footer{
        margin-top: -35px;
    }
	
}