@charset "utf-8";

#welcome{
    height: 100vh;
    padding: 0px 10px 70px 10px;
}
#welcome .row{
    height: 100%;
}
.welcome-sm{
    
}
.welcome-sm img{
    width: 60%;
    margin: 0px 20%;
}
.welcome-lg{
    position: relative;
}
.ka-stacked{
    padding-right: 40px;
    padding-left: 10px;
    animation-name: ka-stacked;
}
.category-stacked{
    padding-left: 40px;
    padding-right: 10;
    animation-name: category-stacked;
}
.ka-stacked, .category{
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}
.welcome-lg img{
    width: 100%;
}
#hline{
    background-color: white;
    width: 2px;
    height: 80%;
    position: absolute;
    padding: 0;
    left: 50%;
    margin-left: -1px;
}
#vline{
    background-color: white;
    height: 2px;
    width: 40%;
    margin: 40px 30%;
}

/* LIBRARY */

.category{
    display: flex;
    height: 40px;
    position: relative;
    margin: 40px 0px 0px 0px;
    transition: all 0.2s;
    overflow: hidden;
}
.category:hover .button-hover{
    transform: translateY(0);    
}
.lib-click{
    background-color: white;
}
.lib-noclick{background-color: white;}
.category p{
    font-size: 17px;
    color: black;
    font-family: Brandon;
    padding-top: 8px;
    padding-left: 10px;
    margin: 0;
}
.category:hover .category p{
    text-decoration: none;  
}
.category p:hover{
    text-decoration: none;
}
.category img{
    transition: all 0.2s;
}
.category div{
    font-size: 17px;
    color: black;
    font-family: Brandon;
    padding-top: 8px;
    width: 100%;
    text-align: center;
}

.category img:hover{
    opacity: 1;
}
#page-title{
    font-family: Saira-Bold;
    font-size: 30px;
    text-align: center;
    margin: 40px 0px 30px 0px;
}

.item{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    height: auto;
    border: none;
    background: none;
}
.item-info{
    background-color: white;
    padding: 10px;
}
.item-b{
    margin-top: 40px;
    position: relative;
}
.item img, .item-b img{
    width: 100%;
    transition: all 0.2s;
    filter: grayscale(100%);
}
.tittle-mg{
    margin-top: -40px;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    transform: translateY(0px);
}
.item:hover .item img{
    filter: grayscale(0%);
}
.item:hover .tittle-mg{
    transform: translateY(0);
}
.item p{
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
	color: white;
    height: 40px;
    
}   
.item p:hover{
    text-decoration: none;
}
.tag{
    color: black;
    background-color: white;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 10px;
    height: 20px;
    padding: 3px 5px;
    font-size: 10px;
    font-family: Saira-Bold;
}
.tag:hover{
    opacity: 1;
}
.item-tittle{
    color: black;
    text-decoration: none;
    margin-left: 0;
}
.item-info .row{
    padding: 0px 10px;
}
.date{
    color: black;
    opacity: 0.75;
    margin: 0;
    padding: 0px;
}
.item-category-button{
    opacity: 0.75;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.item-category img:hover{
    opacity: 1;
}
/* MODEL */

.modal{
    
}
.modal-dialog{
    width: 100%;
}
.modal-content{
    border-radius: 0;
    background-color: none;
}
.modal-mg .row{
    padding: 0px 10px 0px 70px;
}
.modal .col-12{
    position: relative;
}
.modal-mg img{
    width: 100%;
    height: auto;
}
.modal-mg{
    height: 100vh;
    padding-bottom: 70px;
    position: relative;
    height: 100vh;
}
.modal button{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    padding: 15px;
}

@media (min-width: 576px) {
    
    .welcome-sm img{
        width: 40%;
        margin: 0px 30%;
    }
    
}

@media (min-width: 768px) {
    
    #welcome{
        padding: 0px 20px 70px 20px;
    }
    #page-title{
        font-size: 40px;
    }
       
    
}

@media (min-width: 922px) {
    
    #welcome{
        padding: 0px 60px 70px 60px;
    }
    .lib-click{
        background-color: rgba(255,255,255,0.75);
    }
    .category img{
        opacity: 0.75;
    }
    .tittle-mg{
        transform: translateY(40px);
    }
}

@media (min-width: 1200px) {
    
    #welcome{
        padding: 0px 100px 70px 100px;
    }
    .ka-stacked{
        padding-right: 80px;
        padding-left: 60px;
    }
    .category-stacked{
        padding-left: 80px;
        padding-right: 60px;
    }
    
    
}